.App {
    width: 70%;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

nav {
    .left {
        float: left;
        width: 80%;
        text-align: right;
    }
    
    .right {
        float: right;
        width: 50%;
        text-align: right;
    }

    ul {
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-decoration: none;
        padding-left: 0;
    }

    li {
        padding-bottom: 0px;
        padding-right: 30px;
        list-style-type: none;
        padding: 10px;
        text-decoration: none;
    }
}

.m-0 {
    margin: 0px;
}

.hr-line-color {
    border-top: 3px solid #ffa500;
    margin-top: 10px;
}